@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
body{
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    background-color: #b5dfd6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input,label{
    display: block;
}

input{
    font-family: inherit;
    font-size: 14px;
    padding:5px;
    height:30px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #f5f9f7;
}
.main-container{
    border-radius: 10px;
    width:600px;
    height: 280px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    display: flex;
}
.tip{
    margin-top: 30px;
}
.bill-container{
    margin: 20px;
    float: left; width: 50%;
}

.tip-container{
    margin: 20px;
    border-radius: 10px;
    float: right; width: 50%;
    background-color: #205E61;
}
.display-tip-calc{
    font-size: 12px;
    margin: 20px;
}
.amount-display{
    color: #b5dfd6;
    font-weight:900;
    font-size: larger;
    float: right;
}
.tip-amount-total{
    margin: 15px;
}
.person{
    display: block;
}

.percentagebutton{
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(65px, 1fr));
}

.per{
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin: 3px;
    background-color: #205E61;
}

input .per{
    background-color: #f5f9f7;
}